/* ここから処理を記述 */
/* # 課題
        教材サイトの見本画像と同じページを作成しよう(ロゴはimageフォルダに添付)
        - ヘッダーの背景色は beige で指定
        - ヘッダーは高さ100px 画像は高さ90%を指定
        - 見出しとリストは画面の20%の幅を空ける
        - リストの項目と項目の間には30pxの間を空ける
        [わからない部分は自分で検索しましょう(HTML margin 適応されない等)]
        課題の条件が満たせていることを確認して、このファイルを提出してください。
*/

body {
  margin: 0;
}

.header {
  background-color: beige;
  height: 100px;
  display: flex;
  align-items: end;
}

img {
  height: 90%;
}

h1 {
  margin: 0;
  padding: 0 20% 0 0;
  font-weight: bolder;
}

ul {
  margin: 0;
  display: flex;
  list-style: none;
  align-items: end;
}

li {
  padding: 0 30px;
}
